<h1>編集</h1>
<%= form_tag("/posts/#{@post.id}/update") do %>
  <p>日付：</p>
  <!--valueで初期値を設定-->
  <input name="date" value="<%= @post.date %>"></input>
  <p>名前：</p>
  <input name="name" value="<%= @post.name %>"></input>
  <p>金額：</p>
  <input name="money" value="<%= @post.money %>"></input>
  <p>職業：</p>
  <input name="job" value="<%= @post.job %>"></input>
  <p>目的：</p>
  <input name="purpose" value="<%= @post.purpose %>"></input>
  <p>メモ：</p>
  <input name="memo" value="<%= @post.memo %>"></input>
  <input class="btn" type="submit" value="保存"></input>
<% end %>
<%= link_to("取引者一覧に戻る", "/index") %>
<%= link_to("トップに戻る", "/") %>